<ion-header>
  <!-- <ion-navbar>
    <ion-title>The Employees Database</ion-title>
    <ion-buttons end>
      <button ion-button (click)="addEmployee()">
          <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>    
  </ion-navbar> -->
</ion-header>

<ion-content padding>
cs
    <ion-list>
        <ion-item *ngFor="let emp of employees">
          <div (click)="showDetails(employee)">{{ emp.firstName }} {{emp.lastName}}</div> <div style="float:right;width:100px"> <button (click)='deleteEmp($event,emp)'>delete</button></div>
        </ion-item>
      </ion-list>


      <button (click)="addEmp()">Add EMp</button>
</ion-content>